
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-color);
  font-family: monospace;
}

.App {
  margin-bottom: 30vh;
}